name: TDD Build

on:
  workflow_dispatch: # manuell starten

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - run: pip install requests

      - run: python tdd.py
        env:
          NS_URL: ${{ secrets.NS_URL }}
          NS_SECRET: ${{ secrets.NS_SECRET }}

      - name: Commit HTML back to repo
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add index.html
          git commit -m "Update TDD HTML"
          git push
